.category-list {
  width: 40px;
  height: 40px;
  background-color: rgb(214, 48, 49);
}

.category-list img {
  width: 35px;
}

/* ListCategory.css */

.category-container {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}

.category-child > * {
  flex: 0 0 auto;
  margin-right: 10px; /* Jarak antara setiap kategori */
}

/* Optional: Menghilangkan overflow horizontal */
.category-container::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar untuk browser berbasis Webkit (misalnya Chrome/Safari) */
}

@media (min-width: 768px) {
  .rounded-circle {
    margin: 8px;
  }

  .category-img {
    width: 40px;
  }

  .category-list {
    width: 80px;
    height: 80px;
    background-color: rgb(214, 48, 49);
  }

  .category-list img {
    width: 65px;
  }
}
